header{
     position: relative;
}

.logo__menu, .close-icon{
     cursor: pointer;
}

#menu-mobile{
     display: none;
}

.container__menu-mobile{
     position: absolute;
     display: grid;
     grid-template-columns: 5fr 1fr;
     background-color: #fcd14c;
     top: 0px;
     left: 0px;
     width: 100%;
     padding: 20px 20px;
}

.container__menu-mobile .tema{
     color: orangered;
     font-weight: bold;
}

.container__menu-mobile .container__list-links div{
     padding: 10px 12px;
}

.container__list-links div a{
     display: inline-block;
     margin-bottom: 5px;
     color: mediumblue;
}

.container__list-links div a:hover{
     text-decoration: underline;
}

.container__menu-mobile .container__logo_close{
     justify-self: flex-end;
}

.container__menu-mobile .container__logo_close img{
     width: 20px;
}

.container__menu-desktop{
    display: none;
}

.container_logos-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px;
}

.container_logos-header .logo__principal{
    width: 100px;
}

.container_logos-header .logo__menu{
    width: 35px;
    justify-self: end;
}

@media screen and (min-width: 720px){

     .container__menu-mobile{
          display: none;
     }
    .container_logos-header{
        grid-template-columns: 1fr 5fr;
    }

   .container_logos-header .logo__menu{
        display: none;
   }

   .container__menu-desktop{
        display: block;
   }

   .container__menu-desktop ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        height: 90px;
   }

   .container__menu-desktop ul li{
        margin-right: 30px;
   }

   .container__menu-desktop ul li a{
        display: flex;
        padding: 5px 5px;
    
   }

   .container__menu-desktop ul li a:hover{
        background: orangered;
        align-items: center;
        color: white;
   }
}